POSTGRES_USER=ayan
POSTGRES_PASSWORD=ayan1234
POSTGRES_DB=wdatabase
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

SUPABASE_HOST=your-project.pooler.supabase.com
SUPABASE_USER=postgres.your-project-ref
SUPABASE_PASSWORD=your-supabase-password
SUPABASE_DB=postgres
SUPABASE_PORT=5432